{{#ember-modal title='Delete Covered Individual' ok='delete' close='removeModal' cancelLabel='No' okLabel='Yes' model=model}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            This is a test.
        </div>
    </form>
{{/ember-modal}}
